/* Univeral Selector */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Azeret Mono", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* shared Styles  */

.primary_bg_color{
    background-color: #FFDAD9;
}
.primary_btn{
    background-color: white;
    border: 1px solid black;
    font-size: 20px;
    font-weight: 500px;
    padding: 10px
}

/* Nav Styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 150px;
}

.home_link_title a {
    text-decoration: none;
    color: black;
}

.resume_btn {
    font-weight: 500;
    padding: 17px 24px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}
.resume_btn:hover{
    background-color: red;
    color: white;
    border-color: transparent;
}
/* hero section styles  */

.banner_container {
    background-image: url('../assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 75px;
}

.banner_content {
    text-align: center;
    max-width: 700px;
}

.give_space {
    margin-bottom: 20px;
}

.hero_title {
    font-size: 30px;
}

.contact_btn {
    font-size: 15px;
    color: white;
    background-color: #0D1321;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.5s ease-out;
}
.contact_btn:hover{
    background-color: red;
    color: white;
    border-color: transparent
}

/* Main Section  */

/* second section  */


/* Why Web Develop Section  */
.second_part{
    max-width: 1140px;
    padding: 80px 0px;
    margin: 0 auto;
}
.why_web_development{
    text-align: center;
}
.why_web_development h1{
    margin-bottom: 10px;
}
.boxes_1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    width: 940px;
    padding: 20px 20px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 30px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.39), rgb(255, 218, 217));
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
}
.boxes_1:hover{
    box-shadow: 2px 2px 10px 0px aqua;
}
.boxes_2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    width: 940px;
    padding: 20px 20px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 30px;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.39), rgb(255, 218, 217));
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
}
.boxes_2:hover{
    box-shadow: 2px 2px 10px 0px aqua;
}
.boxes_3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    width: 940px;
    padding: 20px 20px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 30px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.39), rgb(255, 218, 217));
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
}
.boxes_3:hover{
    box-shadow: 2px 2px 10px 0px aqua;
}
.box{
    max-width: 475px;
}
.box h2,p{
    margin-bottom: 10px;
}
.primary_btn{
    border-radius: 10px;
    transition: all 0.5s ease-out;
}
.primary_btn:hover{
    background-color: red;
    color: white;
    border-color: transparent;
}

/* third part  */

.third_part{
    max-width: 1140px;
    padding: 80px 90px;
    margin: 0 auto;
}
.my_inpiration{
    text-align: center;
}
.my_inpiration h1{
    margin-bottom: 10px;
}
.video_youtube{
    text-align: center;
}
.video_youtube iframe{
    border-radius: 50px;
    margin-top: 20px;
}

/* Fouth Part  */

.fourth_part{
    max-width: 1140px;
    padding: 80px 0px;
    margin: 0 auto;
}
.my_target{
    text-align: center;
}
.my_target h1{
    margin-bottom: 10px;
}
.my_target p{
    margin-bottom: 10px;
}
.skill_boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.skill_box{
    width: 300px;
    padding: 30px;
    background-color: #FFDAD9;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
}
.skill_box img,h3,p{
    margin-bottom: 10px;
}
.skill_box a{
    color: black;
    transition: 0.5s;
}
.skill_box a:hover{
    color: red;
}
.skill_box:hover{
    transform: translateY(10px) translateX(10px);
    box-shadow: 0px 2px 10px 0px black;
}

/* fifth part */

.fifth_part{
    max-width: 1140px;
    padding: 80px 0px;
    margin: 0 auto;
}
.my_next_target{
    text-align: center;
}
.my_next_target h1,p {
    margin-bottom: 10px;
}
.next_skill_boxes{
    border: 1px solid black;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.next_skill_boxes a{
    color: black;
}
.image_with_content_alignment{
    display: flex;
    align-items: center;
    gap: 50px;
}
.image_content a{
    transition: 0.5s;
}
.image_content a:hover{
    color: red;
}
/* sixth part  */

.sixth_part{
    max-width: 1140px;
    padding: 80px 0px;
    margin: 0 auto;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.763), rgba(255, 255, 255, 0.303)), url('../assets/handshake.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 100px;
}
.title_support, .description_support{
    color: white;
    margin-bottom: 10px;
}
input[type='email']{
    padding: 20px;
    width: 350px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    background-color: white;
}
input[type='submit']{
    padding: 20px;
    border: none;
    border-radius: 10px;
    transition: 0.5s;
}
input[type='submit']:hover{
    background-color: red;
    color: white;
}

/* footer part  */

.footer_part{
    max-width: 1140px;
    padding: 20px 0px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Commitment_title{
    margin: 0;
}
.icons{
    display: flex;
    gap: 15px;
}


/* hide class  */

.hide{
    display: none;
}

/* mobile device responsive */
@media screen and (max-width: 576px) {
    /* navbar start  */
    nav{
        width: 90%;
        margin: auto;
        padding: 20px 0px;
    }
    /* navbar end  */

    /* banner start  */
    .banner_container{
        width: 90%;
        margin: auto;
        height: 100%;
    }
    .banner_content img{
        width: 50%;
    }
    .hero_title{
        font-size: 1.5rem;
    }
    /* banner end  */

    /* second part start  */
    .second_part{
        width: 90%;
        margin: auto;
    }
    .why_web_development{
        padding-left: 20px;
        padding-right: 20px;
    }
    .boxes_1{
        flex-direction: column;
        width: 90%;
    }
    .boxes_2{
        flex-direction: column;
        width: 90%;
    }
    .boxes_3{
        flex-direction: column;
        width: 90%;
    }
    /* second part end  */

    /* third part start  */
    .third_part{
        width: 90%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 0;
    }
    .video_youtube{
        margin: auto;
    }
    .video_youtube .video_iframe{
        margin: auto;
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
    /* third part end  */

    /* fourth part start  */
    .fourth_part{
        width: 90%;
        margin: auto;
    }
    .skill_boxes{
        flex-direction: column;
        align-items: center;
        gap: 20px;
        
    }
    .skill_box{
        text-align: center;
    }
    .skill_box:hover{
        transform: translateX(0px);
    }
    /* fourth part end  */

    /* fifth part start  */
    .fifth_part{
        width: 90%;
        margin: auto;
    }
    .image_with_content_alignment{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    /* fifth part end  */

    /* sixth part start  */
    .sixth_part{
        width: 90%;
        margin: auto;
    }
    .i_need_support p{
        padding-left: 10px;
        padding-right: 10px;
    }
    .sixth_part .email_input{
        width: 90%;
        margin-bottom: 10px;
    }
    /* sixth part end  */

    /* footer part start  */
    .primary_bg_color{
        margin-top: 20px;
    }
    .footer_part{
        width: 90%;
        margin: auto;
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
    /* footer part end  */
}



/* tablet device responsive  */
@media screen and (min-width:576px) and (max-width:992px) {
    /* navbar start  */
    nav{
        width: 90%;
        margin: auto;
        padding: 20px 0px;
    }
    /* navbar end  */

    /* banner start  */
    .banner_container{
        width: 90%;
        margin: auto;
        height: 100%;
    }
    /* banner end  */

    /* second_part start  */
    .second_part{
        width: 90%;
        margin: auto;
    }
    .why_web_development{
        padding-left: 20px;
        padding-right: 20px;
    }
    .boxes_1{
        flex-direction: column;
        width: 90%;
    }
    .boxes_2{
        flex-direction: column;
        width: 90%;
    }
    .boxes_3{
        flex-direction: column;
        width: 90%;
    }
    /* second_part end  */

    /* third part start  */
    .third_part{
        width: 90%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 0;
    }
    .video_youtube{
        margin: auto;
    }
    .video_youtube .video_iframe{
        margin: auto;
        width: 100%;
        height: 100vh;
        border-radius: 20px;
    }
    /* third part end  */

    /* fourth part start  */
    .fourth_part{
        width: 90%;
        margin: auto;
    }
    .skill_boxes{
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }
    .skill_box{
        text-align: center;
    }
    .skill_box:hover{
        transform: translateX(0px);
    }
    /* fourth part end  */

    /* fifth part start  */
    .fifth_part{
        width: 90%;
        margin: auto;
    }
    .image_with_content_alignment{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    /* fifth part end  */

    /* sixth part start  */
    .sixth_part{
        width: 90%;
        margin: auto;
    }
    .i_need_support p{
        padding-left: 10px;
        padding-right: 10px;
    }
    .sixth_part .email_input{
        width: 90%;
        margin-bottom: 10px;
    }
    /* sixth part end  */

    /* footer part start  */
    .primary_bg_color{
        margin-top: 20px;
    }
    .footer_part{
        width: 90%;
        margin: auto;
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
    /* footer part end  */
}